body {
  font-family: "Calibri", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid rgb(207, 207, 207);
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
}
h1 {
  text-align: center;
}
h2 {
  background-color: rgb(168, 18, 18);
  text-align: center;
  color: white;
  border-radius: 10px;
}
p {
  font-size: 16px;
  line-height: 1.6;
}
body::before,
body::after {
  content: "";
  position: fixed;
  top: 0;
  bottom: 0;
  width: 5px;
  background-color: #ccc;
}
.celkem_zaku,
.celkem_trid {
  text-align: right;
  color: red;
}
body::before {
  left: 0;
}

body::after {
  right: 0;
}

caption {
  background-color: rgb(26, 27, 26);
  color: white;
}
table {
  width: 95%;
  border-collapse: collapse;
  justify-self: center;
}

table th,
table td {
  padding: 12px 15px;
  border: 1px solid #a8a8a8;
}

table thead {
  background-color: #d1d1d1;
}
table tfoot {
  background-color: #d1d1d1;
}
